h1 {
  margin-left: 50px;
  margin-bottom: 50px;
  color: #000000;
  text-align: center;
}
#div1 {
  font-size: 25px;
  color: #b22222;
  text-align: center;
}
.tab-pane {
  margin-left: 50px;
}
#pills-tab {
    margin-left: 25px;
}
